LM/ficheros/ficheros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="spotify">
		<xsd:complexType>

			<xsd:sequence>

				<xsd:element name="artistas" minOccurs="1" maxOccurs="unbounded">

					<xsd:complexType>

						<xsd:sequence>

							<xsd:element name="artista">

								<xsd:complexType>

									

								<xsd:attribute name="id">

									<xsd:simpleType>

										<xsd:restriction base="xsd:string">

											<xsd:pattern value="[A][0-9]{4}"></xsd:pattern>

										</xsd:restriction>

									</xsd:simpleType>		

								</xsd:attribute>

								</xsd:complexType>

							</xsd:element>

						</xsd:sequence>

					</xsd:complexType>

				</xsd:element>

			</xsd:sequence>	

		</xsd:complexType>
	</xsd:element>
</xsd:schema>